<div class="container">

  <span style="text-align: center;"> <h1> Welcome Home! <h1> </span>
  <% if @user%>
  <span style="text-align: center;"> <h1> <%= @user.first_name %> <h1> </span>
  <% end %>

</div>